<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>
	<div id="root"></div>

	<!-- Initialize Firebase-->

	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
	<script>
		//Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyBEuouCWoZH05y9u-3r7PwLggeOB66R4Bc",
	    authDomain: "chachachat-b15ef.firebaseapp.com",
	    databaseURL: "https://chachachat-b15ef.firebaseio.com",
	    projectId: "chachachat-b15ef",
	    storageBucket: "",
	    messagingSenderId: "876839895905"
	  };
	  firebase.initializeApp(config);
	</script>


	<script type="text/javascript" src="/dist/bundle.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>